@model CreateServiceDto

@{
    Layout = "~/Views/Admin/Index.cshtml";
}



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Yeni Servis Ekleme Sayfası</h6>
                <form asp-controller="Service" asp-action="CreateService" method="post">
                    <label asp-for="ServiceName" class="form-label">Servis İsmi</label>
                    <input asp-for="ServiceName" type="text" class="form-control">
                    <br>
                    <label asp-for="ServiceStatus" class="form-label">Servis Durumu</label>
                    <input asp-for="ServiceStatus" type="text" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-primary">Servisi Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>



